@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
body{
    overflow-x: hidden;
}
.container {
    width: 100vw;
    height: auto;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}

.boxcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #AAA;
    width: 500px;
    height: auto;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
}

.boxcontainer .h1 {
    width: 100%;
    color: black;
    text-align: start;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1px solid #1212125b;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.213);
}

.boxcontainer .span {
    width: 100%;
    color: black;
    font-weight: 500;
    border-bottom: 1px solid #1212125b;
    margin-bottom: 10px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.213);
}

.userid {
    color: black;
    width: 200px;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
    background-color: #AAA;
    border-radius: 10px;
    border: 1px solid #1212125b;
    cursor: pointer;
}

.title {
    color: black;
    width: 100%;
    padding: 10px;
    background-color: #AAA;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid #1212125b;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.461);
    font-size: 17px;
    cursor: pointer;
}

.comments {
    width: 100%;
    color: black;
    padding: 10px;
    background-color: #AAA;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid #1212125b;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.461);
    font-size: 17px;
    cursor: pointer;
}



.fieldset {
    width: 1000px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.legend{
    font-size: 25px;
}
.inputtext {
    margin: 30px;
    padding: 10px;
    outline: none;
    font-size: 20px;
}
.textarea {
    margin: 30px;
    height: 100px;
    padding: 10px;
    outline: none;
    font-size: 16px;
}
.button {
    margin: 30px;
    padding: 10px 0px;
    cursor: pointer;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.87);
    text-shadow: 0px 0px 10px black;
    font-weight: 400;
}